body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#messages-container {
	background-color: rgb(224, 245, 255);
	max-height: 25em;
	padding-bottom: 20px;
	overflow: scroll;
}

#timestamp {
	float: right;
}