body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#messages-container {
	background-color: rgb(224, 245, 255);
	max-height: 25em;
	padding-bottom: 20px;
	overflow: scroll;
}

#timestamp {
	float: right;
	padding-right: 10px;
}

#message-sender {
	padding-left: 10px;
}

#message-body {
	padding-left: 20px;
	background-color: rgb(204, 225, 235);
}